/* https://codepen.io/chriscoyier/pen/zqedEr */

.long-and-truncated-with-child-corrected {
  max-width: 25%;
  flex: 1;
  min-width: 0; /* or some value */
  h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

a {
 color: black;
}

a:hover {
    text-decoration:none;
}
