<!DOCTYPE html>
<html lang="en">

<nav th:fragment="nav">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="/">CodeFellowship</a>
        </li>
        <li class="nav-item" th:unless="${user}">
            <a class="nav-link" href="/login">Log in</a>
        </li>
        <li class="nav-item" th:unless="${user}">
            <a class="nav-link" href="/signup">Sign up</a>
        </li>
        <li class="nav-item" th:if="${user}">
            <a class="nav-link" href="logout">Log out <span th:text="${user.name}">username</span></a>
        </li>
    </ul>
</nav>

</html>