<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Single User Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="text-center">
<div class="container">
    <header>
        <nav>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/">CodeFellowship</a>
                </li>
                <li class="nav-item" th:unless="${user}">
                    <a class="nav-link" href="/login">Log in</a>
                </li>
                <li class="nav-item" th:unless="${user}">
                    <a class="nav-link" href="/signup">Sign up</a>
                </li>
                <li class="nav-item" th:if="${user}">
                    <a class="nav-link" href="logout">Log out</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="d-flex justify-content-center">
        <br/>
        <div class="card w-50 p-3">
            <img class="card-img-top" src="https://picsum.photos/200/50" alt="profile picture"/>
            <h1 class="card-header" th:text="${searchedUser.username}">Username</h1>
            <div class="card-body">
                <h3 class="card-title"><span th:text="${searchedUser.firstName}">First Name</span>
                    <span th:text="${searchedUser.lastName}">Last Name</span></h3>
                <p class="card-subtitle mb-2 text-muted">Date of Birth: <span th:text="${searchedUser.dateOfBirth}">Date of Birth</span></p>
                <h4 class="card-title">Bio:</h4>
                <p th:text="${searchedUser.bio}">Bio</p>
            </div>
        </div>
    </main>
</div>
</body>
</html>