<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="text-center">
<div class="container">
    <header>
        <nav th:replace="fragments/nav :: nav"></nav>
    </header>
    <main class="d-flex justify-content-around mt-5">

        <div class="w-25 mt-2">
            <div  th:replace="fragments/appuser :: appUser(profile=${profile})"> user</div>


            <div th:if="${profile.id != me.id}">
                <form method="POST" action="/users/follow">
                    <button class="btn btn-info w-75" type="submit" name="id" th:value="${profile.id}">Follow</button>
                </form>
            </div>

            <div th:if="${profile.id != me.id}">
                <form method="POST" action="/users/unfollow">
                    <button class="btn btn-warning w-75" type="submit" name="id" th:value="${profile.id}">Unfollow</button>
                </form>
            </div>

        </div>


        <div class="w-75 ml-2 card mt-4">
            <h2 class="display-4 mt-2">
                <span th:if="${profile.id == me.id}">My </span>
                <span th:if="${profile.id != me.id}" th:text="${profile.username}">Username</span><span th:if="${profile.id != me.id}">'s </span>
                Posts
            </h2>

            <div th:each="post : ${profile.posts}" class="card m-3">
                <div class="card-header d-flex justify-content-between">
                    <h3 th:text="${post.title}">Title</h3>
                    <p><span th:text="${#dates.monthNameShort(post.createdAt)}">month</span>
                        <span th:text="${#dates.format(post.createdAt, 'dd, yyyy - HH:mm')}">day, year</span></p>
                </div>
                <div class="card-body text-left">
                    <p th:text="${post.body}">body</p>
                </div>
            </div>

        </div>
    </main>
</div>
</body>
</html>