<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a New Post</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="text-center">
    <div class="container">
        <header>
            <nav th:replace="fragments/nav :: nav"></nav>
        </header>
        <main class="d-flex justify-content-center mt-5">
            <div class="w-75 p-3 card mt-5">
                <h1 class="display-5 mb-5">Create a new post</h1>
                <form method="POST" action="/posts/create">
                    <ul class="list-unstyled text-left">
                        <li class="form-group">
                            <label for="title">Title: </label><input class="form-control" type="text" name="title" id="title" />
                        </li>
                        <br/>
                        <li class="form-group">
                            <label for="body">Body: </label><textarea class="form-control" rows="5" type="text" name="body" id="body" ></textarea>
                        </li>
                    </ul>
                    <input class="btn btn-primary btn-lg" type="submit" />
                </form>
            </div>
        </main>
    </div>
</body>
</html>