<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="text-center">
    <div class="container">
        <header>
            <nav th:replace="fragments/nav :: nav"></nav>
        </header>
        <main class="mt-5">
            <br/>
            <h1 class="display-3">CodeFellowship</h1>
            <br/>
            <div class="d-flex justify-content-center">
                <div class="w-50 p-3 card">
                    <h1 class="display-5">Sign up</h1>
                    <br/>
                    <form method="POST" action="/users">
                        <ul class="list-unstyled">
                            <li>
                                <label for="firstName">First Name: </label><input type="text" name="firstName" id="firstName" />
                                <label for="lastName">Last Name: </label><input type="text" name="lastName" id="lastName" />
                            </li>
                            <br/>
                            <li>
                                <label for="username"> Username: </label><input type="text" name="username" id="username" />
                                <label for="password">Password: </label><input type="password" name="password" id="password" />
                            </li>
                            <br/>
                            <li>
                                <label for="dateOfBirth">Date of Birth: </label><input type="date" name="dateOfBirth" id="dateOfBirth" />
                            </li>
                            <br/>
                            <li>
                                <label for="bio">Bio: </label><input class="form-control input-lg" type="text" name="bio" id="bio" />
                            </li>
                            <br/>
                            <li>
                                <input class="btn btn-primary btn-lg" type="submit" />
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </main>
    </div>
</body>
</html>