<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <a href="/">CodeFellowship</a>
                <a th:unless="${user}" href="/login">Log in</a>
                <a th:unless="${user}" href="/signup">Sign up</a>
                <a th:if="${user}" href="logout">Log out</a>
            </nav>
        </header>
        <main>
            <form method="POST" action="/users">
                <label for="firstName">First Name: </label><input type="text" name="firstName" id="firstName" />
                <label for="lastName">Last Name: </label><input type="text" name="lastName" id="lastName" />
                <label for="username"> Username: </label><input type="text" name="username" id="username" />
                <label for="password">Password: </label><input type="password" name="password" id="password" />
                <label for="bio">Bio: </label><input type="text" name="bio" id="bio" />
                <label for="dateOfBirth">Date of Birth: </label><input type="date" name="dateOfBirth" id="dateOfBirth" />
                <input type="submit" />
            </form>
        </main>
    </div>
</body>
</html>